<div class="header-container">
    <div style="cursor: pointer;" [routerLink]="['/home']">Logo</div>

    <div class="header-search">
        <input placeholder="Search" type="text" class="search-input">
        <div class="search-btn">
            <mat-icon style="vertical-align: 'center';" aria-hidden="false">search</mat-icon>
        </div>
    </div>

    <div *ngIf="(customer | async )?.Email">
        Hello {{ (customer | async )?.Firstname }}
    </div>
    
    <div *ngIf="!(customer | async )?.Email" style="cursor: pointer;" (click)="openDialog()">
        Login
    </div>

    <div class="card-nav" (click)="openCard()">
        <mat-icon style="vertical-align: 'center';" aria-hidden="false">shopping_cart</mat-icon>
    </div>
    
</div>