<div class="deafult-page-box">
    <a class="go-back" (click)="onGoBackClicked()">go back to search</a>
    <h2>{{ (product | async)?.name }}</h2>


    <img width="100%" [src]='(product | async)?.mainImage | imageResolver: "big"'>

    <h3>{{ (product | async)?.price }} €</h3>

    Description: <br>
    <div [innerHTML]='(product | async)?.description'></div>

    <button (click)="addToCard()">Add to Card</button>

    <br><br>

    <h4>Users also buy:</h4>

    <div style="display: flex; flex-direction: row;">
        <div *ngFor='let product of (contentBasedRecommendations | async)'>
            {{product.name}}
            <img width="100%" [src]='product.mainImage | imageResolver: "xsmall"'>
        </div>
    </div>

    <app-recommendations></app-recommendations>
</div>
