<h1 class="deafult-page-box">Home</h1>

<div class="deafult-page-box">
    <h2>
        Shop By Category
    </h2>
</div>

<ul class="category-list">
    <li *ngFor='let cat of (categories | async)' class="category-card" (click)="onCategoryClicked(cat)">
        <img class="category-card-image" [src]="cat.logo ? cat.logo : 'https://www.surforma.com/media/filer_public_thumbnails/filer_public/01/a2/01a2dd6a-bae7-4682-a8ed-dad568aaa6bd/l4179.jpg__800x600_q95_crop_subject_location-1060%2C1499_subsampling-2_upscale.jpg'">
        <div class="category-card-title">{{ cat.name }}</div>
    </li>
</ul>
