@import '../../../styles.scss';
$default-width: 1500px;

.deafult-page-box {
    max-width: $default-width;
    width: 100%;
    margin: 0 auto;
}

.card-container {
    display: flex;
    flex-direction: column;
    list-style-type: none;

    .card-element {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 60px;

        img {
            padding-right: 20px;
            height: 60px;
        }
    }
}
