<div class="deafult-page-box">

    <div *ngIf="!card?.customerId">
        <h2>Please login to have a card</h2>
        <button (click)="openDialog()">Login</button>
    </div>

    <div *ngIf="card?.customerId">
        <h2>Card</h2>
        <ul class="card-container">
            <li *ngFor="let product of products" class="card-element">
                <img [src]='product.mainImage | imageResolver: "xsmall"'>
                <span>{{ (product.name.length>6)? (product.name | slice:0:30)+'..':(product.name) }}</span>
                <button (click)="removeProduct(product._id)">remove</button>
            </li>
        </ul>  
    </div>
</div>