@import '../../../styles.scss';
$default-width: 1500px;

.deafult-page-box {
    max-width: $default-width;
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 830px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

.product-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 3rem;
    max-width: $default-width;
    margin: 3em auto;
    padding-left: 0;
}

.product-card {
    cursor: pointer;
    padding-bottom: 50px;

    &-title {
        font-size: 1.25rem;
    }

    &-image {
        width: 100%;
    }

    &-price {
        font-weight: bold;
        font-size: 1.15rem;
    }
}

.paginator {
    margin: 0 auto;
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
    &-text {
        font-size: 1.25rem;
    }

    &-button {
        background-color: $accent-color;
    }
}
