<h1 class="deafult-page-box">Products: {{ (category | async)?.name }}</h1>
<div class="deafult-page-box">
    <a class="go-back" (click)="onGoBackClicked()">Go back Home</a>
</div>


<ul class="product-list">
    <li *ngFor='let product of (products | async)' class="product-card" (click)="onProductClicked(product)">
        <img class="product-card-image" [src]='product.mainImage | imageResolver: "xsmall"'>
        <div class="product-card-price">{{ product.price }} €</div>
        <div class="product-card-title">{{ product.name }}</div>
    </li>
</ul>

<div class="paginator">
    <button class="paginator-button" mat-mini-fab aria-label="Before Page" (click)="goBeforePage()">
        <mat-icon>navigate_before</mat-icon>
      </button>
    <span class="paginator-text">Page {{ currentPage }} of {{ maxPage }}</span>
    <button class="paginator-button" mat-mini-fab aria-label="Next Page" (click)="goNextPage()">
        <mat-icon>navigate_next</mat-icon>
    </button>
</div>
