<div class="footer-container">
    <span>Link1&nbsp;&nbsp;&nbsp;&nbsp;link2&nbsp;&nbsp;&nbsp;&nbsp;super-long-link3&nbsp;&nbsp;&nbsp;&nbsp;short-links2&nbsp;&nbsp;&nbsp;&nbsp;link3</span>
    <a href="https://www.flaticon.com/free-icons/top-up" title="top up icons">Top up icons created by JunGSa - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/keyboard" title="keyboard icons">Keyboard icons created by Sebastian Belalcazar - Flaticon</a>
    <div class="impressum">
        © 2022 Name. Manuel Milde & Samuel Knoch
    </div>
</div>