@import '../../../styles.scss';

:host {
    width: 100%;
    min-width: 450px;
}

.footer-container {
    background-color: $dark-color;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 28px 20px;
}

a {
    color: blueviolet;
}

a:visited {
    color: lighten($color: blueviolet, $amount: 30%);
}

.impressum {
    padding-top: 1rem;
}

.flat-icon-links {
    width: 80%;
    font-size: 80%;
}
