<div class="footer-container">
    <h4>Thanks to Flaticon</h4>
    <div class="flat-icon-links">
        <a href="https://www.flaticon.com/free-icons/top-up" title="top up icons">Top up icons created by JunGSa - Flaticon</a>,&nbsp;
        <a href="https://www.flaticon.com/free-icons/keyboard" title="keyboard icons">Keyboard icons created by Sebastian Belalcazar - Flaticon</a>,&nbsp;
        <a href="https://www.flaticon.com/free-icons/mouse-clicker" title="mouse clicker icons">Mouse clicker icons created by Freepik - Flaticon</a>,&nbsp;
        <a href="https://www.flaticon.com/free-icons/component" title="component icons">Component icons created by Bombasticon Studio - Flaticon</a>,&nbsp;
        <a href="https://www.flaticon.com/free-icons/cms" title="cms icons">Cms icons created by Freepik - Flaticon</a>,&nbsp;
        <a href="https://www.flaticon.com/free-icons/headphones" title="headphones icons">Headphones icons created by Freepik - Flaticon</a>,&nbsp;
        <a href="https://www.flaticon.com/free-icons/monitor" title="monitor icons">Monitor icons created by Icongeek26 - Flaticon</a>,&nbsp;
        <a href="https://www.flaticon.com/free-icons/web-camera" title="web camera icons">Web camera icons created by Freepik - Flaticon</a>
    </div>
    <div class="impressum">
        © 2022 Name. Manuel Milde & Samuel Knoch
    </div>
</div>